<!DOCTYPE html>
<html lang="en" ng-app="roomApp" ng-controller="RoomListCtrl"> 
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script> 
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/simple-sidebar.css">


		<script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
  		<script type="text/javascript" src="bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
  		<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>

  		<script src="js/jquery.js"></script>
  		<script src="js/bootstrap.min.js"></script>
  		<script type="text/javascript" src="controllers.js"></script>
		<script type="text/javascript" src="js/slider.js"></script>

		<script data-require="angular.js@1.2.0-rc1" data-semver="1.2.0-rc1" src="http://code.angularjs.org/1.2.0rc1/angular.js"></script>
    	<script type="text/javascript" src='http://rawgit.com/prajwalkman/angular-slider/master/angular-slider.js'  charset="utf-8"></script>    
    	<link rel="stylesheet" href="angular-slider.css">

  		<title>Lab Finder</title>
	</head>
	<body>

	<div id="wrapper">

		<!-- Sidebar -->
        <div id="sidebar-wrapper">
        	<div id="filterItem">
        		<!--
    			<div class="sliderExample"><a name="ex1"></a>
					<div ui-slider min="0" max="200" ng-model="demoVals.sliderExample1"></div>
					<input type="text" ng-model="demoVals.sliderExample1" />	
				</div>
				-->
				<label>Date</label>
				<input type="text" ng-model="datePicker" ng-model-instance id="datepicker">

				<br/>
				<label>Time</label>
				<input type="time" ng-model="timePicker" ng-model-instance>
				<br/>
				<br/>

				<label>Building Filter</label>
				<div ng-repeat = "item in buildings">
		    		<input type="checkbox" ng-model="filterBuildings[item.name]"> {{item.name}}
		  		</div>

				<label>Type Filter</label>
		  		<div ng-repeat = "item in types">
		    		<input type="checkbox" ng-model="filterTypes[item.type]"> {{item.type}}
		  		</div>
		  	</div>

      	</div>

      	<!-- Page Content -->
      	<div id="page-content-wrapper">
			<div class="container-fluid">
				<h1><button type="button" class="btn btn-default" id="menu-toggle">Filter</button><img src="logo.png" alt="Lab Finder Logo" width="50" height="50" />Lab Finder <small>Stop looking, start working</small></h1>
<!-- 				<div id="no-more-tables"> -->
				<div>	
    <slider floor="0" ceiling="240" ng-model-low="lower_bound" ng-model-high="upper_bound"></slider>
    lower_bound: <strong>{{lower_bound}}</strong>
    &nbsp;
    upper_bound: <strong>{{upper_bound}}</strong>

 
  
		        </div>

				<table class="table table-striped">
					<thead class="cf">
						<tr>
							<th>
								<a href="#" ng-click="orderByField='building'; reverseSort = !reverseSort">
								Building 
								<span ng-show="orderByField == 'building'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
								</a>
							</th>
							<th>
								<a href="#" ng-click="orderByField='room_num'; reverseSort = !reverseSort">
								Room 
								<span ng-show="orderByField == 'room_num'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
		          				</a>
							</th>
							<!--
<th>
								<a href="#" ng-click="orderByField='start'; reverseSort = !reverseSort">
								Start Time
								<span ng-show="orderByField == 'start'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
								</a>
							</th>
							<th>
								<a href="#" ng-click="orderByField='end'; reverseSort = !reverseSort">
								End Time
								<span ng-show="orderByField == 'end'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
								</a>
							</th>
-->
							<th>
								<a href="#" ng-click="orderByField='type'; reverseSort = !reverseSort">
								Type
								<span ng-show="orderByField == 'type'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
								</a>
							</th>
							<th>
								<a href="#" ng-click="orderByField='remaining'; reverseSort = !reverseSort">
								Time Remaining
								<span ng-show="orderByField == 'remaining'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
								</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-animate="'animate'" ng-repeat="availability in availabilities | buildingFilter:filterBuildings | typeFilter:filterTypes |  filter:durationRange | orderBy:orderByField:reverseSort">
							<td data-title="Building">{{availability.building}}</td>
							<td data-title="Room">{{availability.room_num}}</td>
							<!--
							<td data-title="Start Time">{{availability.start}}</td>
							<td data-title="End Time">{{availability.end}}</td>
							-->
							<td ng-switch="availability.type">
								<div ng-switch-when="Mac"><img src="command.png" height="25" /></div>
								<div ng-switch-when="Windows"><img src="windows.png" height="25" /></div>
								<div ng-switch-when="Linux"><img src="linux.png" height="25" /></div>
								<div ng-switch-default><img src="room.png" height="25" /></div>
							</td>
							<td>{{(Math.floor(availability.remaining/60))}} hours {{(availability.remaining%60)}} mins
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="{{(100 * availability.remaining / availability.maxRemaining)}}" aria-valuemin="0" aria-valuemax="{{availability.maxRemaining}}"
											style="width:{{(100 * availability.remaining / availability.maxRemaining)}}%;">
								  	</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div id="slider"></div>
<!-- 				</div> -->
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->

	<script>
		    $("#menu-toggle").click(function(e) {
		        e.preventDefault();
		        $("#wrapper").toggleClass("toggled");
		    });
    </script>
	</body>
</html>

<!--
** Credit: **
Responseive Table: 
http://bootsnipp.com/snippets/featured/no-more-tables-respsonsive-table

Simple Sidebar: 
http://startbootstrap.com/template-overviews/simple-sidebar/

Sorting feature: 
http://codepen.io/anon/pen/fjkcg

Windows icon by Mister Pixel 
Penguin icon by Camila Bertoco
Command icon by Nadir Balcikli
Notebook icon by Alex Hartmann
-->